---
//date
import clientData from "../data/config";
const { firstClass, lastClass } = clientData.eventDate;

// Cálculo de los horarios internacionales
const hour = firstClass.hour;
const eventTimes = [
  { country: "España", flag: "fi fi-es", time: `${hour}:00hs ` }, // España (horario base)
  { country: "Argentina", flag: "fi fi-ar", time: `${hour - 4}:00hs ` }, // CET - 4 horas
  { country: "Colombia", flag: "fi fi-co", time: `${hour - 6}:00hs ` }, // CET - 6 horas
  { country: "México", flag: "fi fi-mx", time: `${hour - 7}:00hs ` }, // CET - 7 horas
];
---

<div>
  <!-- Fechas -->
  <div class='flex flex-col justify-center gap-8 mt-8 text-center md:flex-row'>
    <!-- Fecha 1 -->
    <h2 class='text-3xl font-bold text-white lg:text-4xl'>
      MARTES <span class='font-bold text-secondary'>{firstClass.day} </span> DE {
        firstClass.month
      }
    </h2>
    <!-- Fecha 2 -->
    <h2 class='text-3xl font-bold text-white lg:text-4xl'>
      JUEVES <span class='font-bold text-secondary'>{lastClass.day} </span>DE {
        lastClass.month
      }
    </h2>
  </div>

  <!-- Horarios internacionales -->
  <ul class='grid grid-cols-1 gap-4 mt-6 text-lg md:grid-cols-2 lg:grid-cols-4'>
    {
      eventTimes.map((event) => (
        <li class='flex items-center justify-center gap-2 text-2xl text-secondary'>
          <span class={event.flag} />
          <span class='font-bold'>{event.country}</span>:
          <span class='text-white'>{event.time}</span>
        </li>
      ))
    }
  </ul>
</div>
